@{
    ViewBag.Title = "资讯详细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="background: url(../Images/bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height: 55px; line-height: 64px;">
                @*  <ul class="li_center navbar-nav" style="font-size:14px;color:#515151;margin-top:10px;">
            <li><a href="#" style="padding: 10px 5px 10px 0px;"><span style="color:#636363;">首页</span></a></li>
                             <li><a href="#" style="padding: 10px 5px 10px 0px;"><span style="color:#636363;">></span></a></li>
                             <li><a href="#" style="padding: 10px 5px 10px 0px;"><span style="color:#76b300;">选课中心</span></a></li>
          </ul>*@
                <div style="font-size: 14px; color: #515151;">
                    <a href="../ForeMent/ElectiveCenter" style="padding: 10px 5px 10px 0px; text-decoration: none;"><span style="color: #636363;">首页</span></a>
                    <a href="#" style="padding: 10px 5px 10px 0px; text-decoration: none;"><span style="color: #636363;">></span></a>
                    <a href="../ForeMent/ElectiveCenter" style="padding: 10px 5px 10px 0px; text-decoration: none;"><span style="color: #636363;">选课中心</span></a>
                    <a href="#" style="padding: 10px 5px 10px 0px; text-decoration: none;"><span style="color: #636363;">></span></a>
                    <a href="../ForeMent/NewsDetail" style="padding: 10px 5px 10px 0px; text-decoration: none;"><span style="color: #76b300;">资讯详细</span></a>
                </div>
            </div>
        </div>
        <div class="row" style="background: #fff; margin-bottom: 60px; border: 1px solid #ccc2ae; padding-bottom: 20px;">
            <div class="col-md-5" style="margin-top: 10px;">
                <img src="../Images/cdetail5.jpg" class="img-responsive">
            </div>
            <div class="col-md-7" style="margin-top: 10px;">
                <div style="width: 100%">
                    <span style="font-size: 20px; color: #393939; font-weight: bold;">错题本都有什么门道</span>
                    <span style="color: #a7a7a7; padding: 4px 12px 4px 12px; float: right; cursor: pointer; border-radius: 15px; border: 1px solid #a7a7a7;">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span>加关注</span>
                    </span>
                </div>
                <div style="width: 100%; margin-top: 16px;">
                    <span style="color: #636363; font-weight: bold;">发布时间：</span>
                    <span style="color: #636363;">2019-01-02</span>
                </div>
                <div style="width: 100%;">

                    <span style="color: #636363;">许多优秀学生的分享都有提到一个词：错题本，但是这个错题本到底该怎么做？有些什么诀窍，需要怎么做才能达到效果？


所谓错题本学习法，就是记下错题，重新改错的学习方法。


改错是任何作业、测验的必然过程，所有的错误在老师讲解后，学生基本上都会重新按照老师所讲授的内容过上一遍，到考试前再把测试过的卷子拿出来看看错题，很多人都认为这就算错题本学习法了。


其实这种想法是有失偏颇的。


错题本学习法是一个不断将错题回炉淬炼的过程，它贯穿于学习新知识、温习旧知识的始终，其根基在于以小见大，从错题找出知识点漏洞、找出应试中个人存在的习惯、思维等弱点，加以修正完善，这才是错题本学习法的精髓。


错题本学习法包含三个环节，每个环节都针对学生的某种学习能力，善用此学习方法，不仅能够快速稳定地提高学习成绩，学生的自身素质、综合能力也会得到相应提高。


恰逢月考结束，那就一起来看如何制作属于自己的错题本吧！</span>
                </div>


            </div>
        </div>
    </div>
</div>
